{{define "pagination"}}
{{if gt totalPages 1}}
{{$currentPage := add . 1 }}
{{$previousPage := sub $currentPage 1}}
{{$nextPage := add $currentPage 1}}
{{$firstPage := sub $currentPage 2 }}
{{$lastPage := add $currentPage 2 }}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item {{if (lt $previousPage 1)}}disabled{{end}}">
      <a class="page-link" href="/crashes/view?p={{if lt $previousPage 1}}#{{else}}{{$previousPage}}{{end}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {{range seq totalPages}}
      {{if or (lt totalPages 6) (and (lt $currentPage 3) (lt . 6))}}
    <li class="page-item {{if eq $currentPage .}}active{{end}}"><a class="page-link" href="/crashes/view?p={{ . }}">{{ . }}</a></li>
      {{else}}
        {{if and (ge . $firstPage) (le . $lastPage)}}
    <li class="page-item {{if eq $currentPage .}}active{{end}}"><a class="page-link" href="/crashes/view?p={{ . }}">{{ . }}</a></li>
        {{end}}
      {{end}}
    {{end}}
    <li class="page-item {{if (gt $nextPage totalPages)}}disabled{{end}}">
      <a class="page-link" href="/crashes/view?p={{if gt $nextPage totalPages}}#{{else}}{{$nextPage}}{{end}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
{{end}}
{{end}}

{{define "verifyCrash"}}
<a href="/crash/{{.}}/verify" class="btn btn-outline-secondary action verify" data-method="POST">
  <svg class="bi" width="20" height="20" fill="currentColor" color="orangered" viewBox="0 0 20 20">
    <use xlink:href="/static/svg/bootstrap-icons.svg#check-square-fill"/>
  </svg>
</a>
{{end}}

{{define "deleteCrash"}}
<a href="/crash/{{.}}" class="btn btn-outline-secondary action delete" data-method="DELETE">
  <svg class="bi" width="20" height="20" fill="currentColor" color="red" viewBox="0 0 20 20">
    <use xlink:href="/static/svg/bootstrap-icons.svg#x-square-fill"/>
  </svg>
</a>
{{end}}

{{define "downloadCrash"}}
<a href="/crash/{{.}}/download" class="btn btn-outline-secondary action download" data-type="binary" data-method="POST">
  <svg class="bi" width="20" height="20" fill="currentColor" color="#0074D9" viewBox="0 0 20 20">
    <use xlink:href="/static/svg/bootstrap-icons.svg#arrow-down-square-fill"/>
  </svg>
</a>
{{end}}

{{define "editCrash"}}
<a href="/crash/{{.}}/edit" class="btn btn-outline-secondary action edit">
  <svg class="bi" width="20" height="20" fill="currentColor" color="brown" viewBox="0 0 20 20">
    <use xlink:href="/static/svg/bootstrap-icons.svg#pencil"/>
  </svg>
</a>
{{end}}

{{define "content"}}
{{if not .crashes}}
  <p>There are no existing crashes in the database.</p>
{{else}}

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="/crashes" class="nav-link action delete" data-method="DELETE">
        <svg class="bi" width="1.5em" height="1.5em" fill="currentColor" color="red">
          <use xlink:href="/static/svg/bootstrap-icons.svg#eraser-fill"/>
        </svg>
      </a>
    </li>
  </ul>

  {{template "pagination" .currentPage}}
  <div id="cards" class="row row-cols-3">

  {{range .crashes}}
  <div class="col col-sm-6 col-lg-4 mb-3">
    <div class="card crash {{if not .Verified }}unverified{{end}}">
      <div class="card-header">
        <small class="id {{ .GetRisk }} rounded-top-3 rounded-end-0">{{ .ID }}</small>
        {{if .Verified }}
          <h6 data-bs-toggle="collapse" href="#collapse-{{ .ID }}" aria-controls="collapse-{{ .ID }}" class="d-block collapsed">
            <i class="fas fa-chevron-down float-end"></i>
            {{if .Label }}
              <span class="label">{{ .Label }}</span>
            {{else if .Function }}
              <span class="label">{{ .Function }}</span>
            {{else}}
              <span class="bugid">{{ .BugID }}</span>
            {{end}}
            <small class="text-body-secondary">{{ .GetJob.Name }}</small>
          </h6>
        {{else}}
          <h6 class="d-block">
            <span class="label">Unverified</span>
            <small class="text-body-secondary">{{ .GetJob.Name }}</small>
          </h6>
          <div class="btn-group float-end">
            {{template "deleteCrash" .GUID}}
            {{template "downloadCrash" .GUID}}
            {{template "verifyCrash" .GUID}}
          </div>
        {{end}}
      </div>
      {{if .Verified }}
      <div id="collapse-{{ .ID }}" class="collapse collapsed">
        <div class="card-body">
          <p class="card-text truncate">{{ .Description }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h6>Fuzzer ID</h6> <small class="text-body-secondary float-end">{{ .FuzzerID }}</small></li>
            <li class="list-group-item"><h6>Bug ID</h6> <small class="text-body-secondary float-end">{{ .BugID }}</small></li>
            <li class="list-group-item"><h6>Module</h6> <small class="text-body-secondary float-end">{{ .Module }}</small></li>
            <li class="list-group-item"><h6>Function</h6> <small class="text-body-secondary float-end">{{ .Function }}</small></li>
            <li class="list-group-item"><h6>Impact</h6> <small class="text-body-secondary float-end">{{ .Impact }}</small></li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="btn-group">
            {{template "deleteCrash" .GUID}}
            {{template "editCrash" .GUID}}
            {{template "downloadCrash" .GUID}}
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
    {{end}}
  </div>
  {{template "pagination" .currentPage}}
{{end}}
{{end}}
